/* Write your global styles here, in PostCSS syntax */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

:global(body) {
	/* this will apply to <body> */
	/* your styles go here */
	@apply text-black-light;
}
